body {
  background-color: #f3e5f5;
}

h1 {
  text-align: center;
  color: #af8eb5;
  font-family: "Nunito", sans-serif;
  margin: 30px 0px 30px 0px;
  padding: 0;
}

.body-container {
  background-color: #fbeefc;
  width: 500px;
  height: 495px;
  padding: 5px 0 160px;
  margin: 0px auto;
}

.container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #e3c9e7;
  padding: 10px;
  grid-gap: 10px;
}

.grid-box {
  /* background-color: bisque; */
  border: 1px solid #883997;
  padding: auto;
  display: block;
  width: 120px;
  height: 120px;
  font-size: 120px;
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: #4a148c;
  line-height: 120px;
}

.grid-box:hover {
  background-color: #dcbde2;
  cursor: pointer;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.reset-button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #ecd8ec;
  font-family: "Spline Sans", sans-serif;
}

.reset-button:hover {
  background-color: #e9cae9;
}

.choose-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.screen-box {
  display: flex;
  flex-direction: column;
  background-color: #ecd8ec;
  margin: 30px 0px 15px 0px;
  border-radius: 5px;
}

.player-switch {
  font-family: "Ubuntu", sans-serif;
  color: #553c6d;
  font-weight: bold;
  height: 20px;
  width: 100px;
  line-height: 20px;
  text-align: center;
  padding: 5px;
}

#turn {
  font-size: 15px;
  line-height: 17.5px;
  animation: fadein 2s;
  margin: 0;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#player1 {
  position: absolute;
  margin: 0px 260px 0 0;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #2e3030;

  /* padding-top: 90px; */
}

#player2 {
  position: absolute;
  margin: 0px 0px 0 260px;
  font-family: "Nunito", sans-serif;
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  color: #2e3030;
}

.scoreplayer1 {
  position: absolute;
  margin: 0px 260px 0 0;
}

.scoreplayer2 {
  position: absolute;
  margin: 0px 0px 0 260px;
}

.score-player1 {
  border: none;
  font-size: 30px;
  background-color: #fbeefc;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #2a1542;
  margin-bottom: 0px;
}

/* .score-player1:hover {
  background-color: #ecd8ec;
} */
