/*--theme1--*/
body {
  background-color: #f3e5f5;
  margin-right: 0;
}

h1 {
  text-align: center;
  color: #af8eb5;
  font-family: "Nunito", sans-serif;
  margin: 5px 0px 25px 0px;
  padding: 0;
}

.overlab {
  position: relative;
  background-color: #b49fb8;
  float: right;
  width: 10px;
  height: 30%;
  padding: 0px 0px 0px 0px;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  transform: translate(0, 70%);
}

img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.overlab:hover {
  width: 50px;
  height: 100%;
  padding: 30px 5px 30px 10px;
  transform: translate(0, 50%);
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

/* --multi-single switch-- */
.multi-colour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modeChange {
  margin-right: 5px;
  margin-top: 0;
  font-family: "Spline Sans", sans-serif;
  color: #ccb5cc;
  font-size: 10px;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  text-shadow: -0.5px 0px #807480;
}

/* Dropdown button*/
.dropdown-colourtheme {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #ecd8ec;
  font-family: "Spline Sans", sans-serif;
  font-size: 10px;
  color: #837483;
  margin-left: 5px;
}
.button-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 65px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  font-family: "Spline Sans", sans-serif;
  text-align: center;
  z-index: 1;
  margin-left: 5px;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.button-container:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.button-container:hover .dropdown-colourtheme {
  background: #dcbde2;
}

.modeChange {
  text-align: end;
}

/* grid setting */
.body-container {
  background-color: #fbeefc;
  width: 500px;
  height: 495px;
  padding: 5px 0 160px;
  margin: 0px auto;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #e3c9e7;
  padding: 10px;
  grid-gap: 10px;
}

/*content of grid box*/
.grid-box {
  border: 1px solid #883997;
  padding: auto;
  display: block;
  width: 120px;
  height: 120px;
  font-size: 120px;
  text-align: center;
  font-family: "Margarine", cursive;
  color: #4a148c;
  line-height: 120px;
}

.grid-box:hover {
  background-color: #dcbde2;
  cursor: pointer;
}

/* Bottom : for reset-game, score buttons */
.buttons {
  text-align: center;
  margin-top: 10px;
}

#reset-text {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Spline Sans", sans-serif;
  font-size: small;
}

.resetbutton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #ecd8ec;
  font-family: "Spline Sans", sans-serif;
}

.resetbutton:hover {
  background-color: #e9cae9;
}

/* Middle : screen board */
.choose-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.player-switch {
  font-family: "Ubuntu", sans-serif;
  color: #553c6d;
  font-weight: bold;
  height: 20px;
  width: 120px;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ecd8ec;
  margin: 30px 0px 15px 0px;
  border-radius: 5px;
  font-size: 10px;
}

#turn {
  font-size: 13px;
  line-height: 18px;
  animation: fadein 2s;
  margin: 0;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**/
#player1 {
  position: absolute;
  margin: 0px 260px 0px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #2e3030;
}

#player2 {
  position: absolute;
  margin: 0px 0px 0 260px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #2e3030;
}

.scoreplayer1 {
  position: absolute;
  margin: 0px 260px 0px 0px;
}

.scoreplayer2 {
  position: absolute;
  margin: 0px 0px 0 260px;
}

.score-player1 {
  border: none;
  font-size: 32px;
  background-color: #fbeefc;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #2a1542;
  padding-top: 5px;
}
/* choose player button for single play */
.choosePlayerButton {
  border-style: outset;
  border-width: 5px;
  border-color: white;
  border-radius: 1px;
}

.choosePlayerButton:hover {
  border-style: inset;
}
.choosePlayerButton:focus {
  border-style: inset;
}

/* Media query */
@media only screen and (max-width: 768px) {
  .body-container {
    height: 420px;
    width: 80%;
  }
  .container {
    width: 100%;
  }
  .grid-box {
    width: 100%;
    height: 90px;
    font-size: 60px;
  }
  .grid-container {
    width: 50%;
    height: 50%;
  }
}

/* .single-button {
} */

/*--theme 2--*/

body.theme2 {
  background: #dbd7fd;
}

.grid-container.theme2 {
  background: #b4afe6;
}

.grid-box.theme2 {
  border: 1px solid #5c597a;
}

.body-container.theme2 {
  background: #e3e1fc;
}

h1.theme2 {
  color: #5c597a;
}

.score-player1.theme2 {
  background: #e3e1fc;
}

.grid-box:hover.theme2 {
  background: #c3bef3;
}

.resetbutton.theme2 {
  background: #d4cfff;
}

.resetbutton:hover.theme2 {
  background: #c6c4ee;
}

.player-switch.theme2 {
  background: #d4cfff;
}

.dropdown-colourtheme.theme2 {
  background: #d4cfff;
}

.dropdown-colourtheme:hover.theme2 {
  background: #c6c4ee;
}

.button-container:hover .dropdown-colourtheme.theme2 {
  background: #c6c4ee;
}

/* colour theme 3*/
/*--theme 2--*/

body.theme3 {
  background: #fcfcd7;
}

.grid-container.theme3 {
  background: #fdfca7;
}

.grid-box.theme3 {
  border: 1px solid #95ac6a;
}

.body-container.theme3 {
  background: #fccb9d;
}

h1.theme3 {
  color: #e66f5a;
}

.score-player1.theme3 {
  background: #fccb9d;
}

.grid-box:hover.theme3 {
  background: #eeed9d;
}

.resetbutton.theme3 {
  background: #fdfca7;
}

.resetbutton:hover.theme3 {
  background: #eeed9d;
}

.player-switch.theme3 {
  background: #fdfca7;
}

.dropdown-colourtheme.theme3 {
  background: #fdfca7;
}

.dropdown-colourtheme:hover.theme3 {
  background: #eeed9d;
}

.button-container:hover .dropdown-colourtheme.theme3 {
  background: #eeed9d;
}
/* player1 p-class for multi.html */
.multiPlayer1 {
  padding-top: 10px;
}

.multiPlayer2 {
  padding-top: 10px;
}
